*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 90%;
    margin: 15px auto;
    border: 2px solid black;
    box-shadow: 4px 4px 6px black;
}
.header{
    padding: 15px;
    border-bottom: 1px solid black;
    background-image: linear-gradient(to right, #e5b640 0%, white 35%, white 50%, white 65%, #e5b640 100%);
}
header h2, header h3{
    text-align: left;
    margin: 5px 0 5px 80px;
}
footer{
    padding: 15px;
    height: 60px;
    background-color: #533e08;
    border-top: 1px solid black;
}
footer h5{
    text-align: center;
    color: white;
}