*{
    margin: .5em 1em;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin-left: 3em;
}
#main{
    border: 2px solid black;
    padding: 1em;
}
.blue{
    color: blue;
}
.right{
    text-align: right;
}